@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* #ffffff */
    --foreground: 200 4% 15%; /* #242627 */

    --background-blue: 194 100% 42% 0.1; /* rgba(0, 162, 212, 0.10) */
    --foreground-blue: 194 100% 42%; /* #00A2D4 */

    --muted: 213 33% 95%; /* #EDF1F6 */
    --muted-foreground: 210 1% 59%; /* #959697 */

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 213 33% 95%; /* #EDF1F6 */
    --input: 213 33% 95%; /* #EDF1F6 */

    --label: 195 3% 31%; /* #4E5152 */

    --primary: 194 100% 42%; /**/
    --primary-foreground: 0 0% 100%; /**/

    --secondary: 18 92% 45%; /**/
    --secondary-foreground: 0 0% 100%; /* #ffffff */

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 7 61% 48%; /* #C54130 */
    --destructive-foreground: 210 40% 98%;

    --ring: 194 100% 42%; /* #00A2D4 */

    --radius: 0.5rem;

    --success: 140 100% 42%; /* #00D448 */

    --grey: 0, 0%, 95%; /* #F1F1F1 */
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215.4 16.3% 76.9%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 213, 33%, 95%;
    --input: 213, 33%, 95%;

    --primary: 194 100% 42%; /**/
    --primary-foreground: 0 0% 100%; /**/

    --secondary: 18 92% 45%; /**/
    --secondary-foreground: 0 0% 100%; /**/

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 194, 100%, 42%; /**/

    --success: 140, 100%, 42%; /**/
  }
}

@layer base {
  * {
    @apply border-border;
    @apply text-foreground;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.corporate-background {
  background-image: url("../assets/images/corp-search-background.svg");
}

.invoice-header-background {
  background-image: url("../assets/images/invoice-header-background.png");
}

.auth-background {
  background-image: url("../assets/svg/AuthBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px white inset !important;
}

/* Works for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
